/*Estilo del cuerpo de la página*/
body {
  background-color: white;
  font-family: "Asap", sans-serif;
}

/*Estilos del menú*/
#menu ul li {
    background-color:#2e518b;
}

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
}

#menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform:uppercase;
  letter-spacing:1px;
}

#menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}

#menu ul li:hover {
    background:#5b78a7;
}

#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    padding:0;
}

#menu ul ul li {
    float:none;
    width:150px
}

#menu ul ul a {
    line-height:120%;
    padding:10px 15px;
}

#menu ul li:hover > ul {
    display:block;
}


    /*Estilo del título dentro del juego*/
h1 { 
    color:black;
    margin:0px 0px 2px 0px;
    font-size:20px;
    padding:2px 1px 5px 1px;
    text-align:center;    
}


/*Fin estilos del menú*/

/*Tabla sobre la cual irá el sudoku*/
.sudoku_board {
    margin:6px auto;  
    overflow: hidden;    
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;    
    box-shadow: 0px 0px 5px 5px #bdc3c7;
}

.sudoku_board .cell {    
    width:11.11%;    
    display: inline-block;    
    float:left;
    cursor:pointer;    
    text-align: center;
    overflow: hidden;  
    
    -webkit-box-sizing: border-box; /*Safari,Chrome*/
	    -moz-box-sizing: border-box;/*Firefox*/
	    box-sizing: border-box;
    
    box-shadow: 0px 0px 0px 1px #bdc3c7;
  
    background:white;
}
/**/
.sudoku_board .cell.border_h {/*Formato de borde para divisiones horizontales*/
    box-shadow: 0px 0px 0px 1px #bdc3c7, inset 0px -2px 0 0 #34495e;
}

.sudoku_board .cell.border_v {/*Formato de borde para divisiones verticales*/
    box-shadow: 0px 0px 0px 1px #bdc3c7, inset -2px 0 0 #34495e;
}

.sudoku_board .cell.border_h.border_v {/*Formato de borde para celda con división horizontal y vertical*/
    box-shadow: 0px 0px 0px 1px #bdc3c7, inset -2px 0 0 black, inset 0px -2px 0 black;
}

.sudoku_board .cell span { /*Formato de texto dentro de las celdas*/
    color:#2c3e50;
    font-size:14px;
    text-align:center;    
}

.sudoku_board .cell.selected, .sudoku_board .cell.selected.fija { /*Cambia el color de fondo de la celda seleccionada y todas las seleccionadas con ella*/
    background:#FFE;    
}

.sudoku_board .cell.selected.current {/*Formato de la celda seleccionada actualmente*/ 
    position:relative;
    background: #3498db;
    font-weight:bold;
    box-shadow: 0px 0px 3px 3px #bdc3c7;
}

.sudoku_board .cell.selected.current span {/*Color del texto de la celda seleccionada actualmente*/
    color:white;
}


.sudoku_board .cell span.samevalue, .sudoku_board .cell.fija span.samevalue {
    font-weight:bold;  
    color:#3498db;
}

.sudoku_board .cell.notvalid, .sudoku_board .cell.selected.notvalid{/*Formato de celda con valor incorrecto*/
    font-weight:bold;
    color:white;;
    background:#e74c3c;
}

.sudoku_board .cell.fija {/*Cuando el cursor se posa sobre una celda fija, se muestra el ícono de no válido*/
    background:#ecf0f1;
    cursor:not-allowed;
}

.sudoku_board .cell.fija span { /*Color de texto de las celdas fijas*/
  color:#7f8c8d;
}

.sudoku_board .cell .solution {
  font-size:15px;
  color:#d35400;
}

.sudoku_board .cell .note {
    color:#bdc3c7;    
    width:50%;    
    height:50%;
    display: inline-block;    
    float:left;
    text-align:center;
    font-size:14px;
  
    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
}

/*Configuración para responsive*/

@media all and (orientation:portrait) and (min-width: 640px){
    h1 { font-size:50px; }
    .statistics { font-size:30px; }    
    .sudoku_board .cell span { font-size:60px; }    
    .board_console .num { font-size:60px; }
}

@media all and (orientation:landscape) and (min-height: 640px){
    h1 { font-size:50px; }
    .statistics { font-size:30px; }
    .sudoku_board .cell span { font-size:50px; }
    .board_console .num { font-size:50px; }
}

/*Responsive*/

@media all and (orientation:portrait) and (max-width: 1000px){
    .sudoku_board .cell span { font-size:30px; }   
}

@media all and (orientation:portrait) and (max-width: 640px){
	.sudoku_board .cell span { font-size:24px; }
  .sudoku_board .cell .note { font-size:10px; }
}

@media all and (orientation:portrait) and (max-width: 470px){
	.sudoku_board .cell span { font-size:16px; }
.sudoku_board .cell .note { font-size:8px; }
}

@media all and (orientation:portrait) and (max-width: 320px){
	.sudoku_board .cell span { font-size:12px; }
.sudoku_board .cell .note { font-size:8px; }
}

@media all and (orientation:portrait) and  (max-width: 240px){
	.sudoku_board .cell span { font-size:10px; }   
}